{% extends "layout/base.html" %}
{% block content %}

<div class="card-actions">
    <a href="/?date={{ log_date }}" class="card-btn">
        ← Back to Dashboard
    </a>
</div>

<div class="card">
    <form method="post" action="/selfAssessment/new">
        <div class="card-content">

            <input type="hidden" name="log_date" value="{{ log_date }}">

            <div class="card-content">
                <h3>Self Assessment</h3>

                <div class="form-group">
                    <label>Notes</label>
                    <textarea name="notes" rows="5">{{ self_assessment.notes if self_assessment else '' }}</textarea>
                </div>
            </div>

            <div class="card-actions">
                <button type="submit" class="card-btn">
                    Save and return to dashboard
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
