<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diet Planner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/aiAssessment.css') }}">
</head>

<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>